* {
  box-sizing: border-box;
}

.body {
  padding: 0px 20px;
  width: 100%;
}

/* 전체 감싸기 */
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 상단바 */
.topBar {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px;
  top: 0;
  left: 0;
  z-index: 2;
}

/*  GNUMOA로고  */
.logo {
  width: 50%;
  font-family: "Audiowide", cursive;
  font-style: normal;
  font-size: 27px;
  color: #1472ff;
  cursor: pointer;
}

/*  메뉴 아이콘넣을 박스  */
.menuBar {
  font-size: 20px;
  cursor: pointer;
}

/* 검색창 */
.search-container {
  margin-top: 100px;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  font-size: 16px;
}

.search-container button[type="submit"] {
  background-color: #1472ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* 공지사항 */
.entire {
  margin-top: 50px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  transition: all ease-out 0.3s;
}

.notice-list {
  position: relative;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(141, 141, 141, 0.3);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.notice-list-tag {
  margin: 10px 15px;
  font-size: 16px;
  color: blue;
}

.notice-list-title {
  margin: 10px 15px;
  font-size: 20px;
}

.notice-list-content {
  margin: 0px 15px;
  font-size: 12px;
  color: grey;
}

.notice-list-date {
  position: absolute;
  bottom: 10px;
  margin: 0px 15px;
  font-size: 12px;
  color: grey;
}

.notice-list-like {
  position: absolute;
  bottom: -12px;
  right: 20px;
  font-size: 20px;
  font-size: 25px;
  color: grey;
}
